:root {
    --pri-col: #212529;
    --sec-col: #ee6e73;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#name {
    max-width: 200px;
}

#submitName {
    background-color: var(--pri-col);
}

main {
  flex: 1 0 auto;
  flex-direction: column;
  flex-wrap: wrap;
}

#gameplay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#copyright {
    justify-content: center;
}

#footer {
    background-color: var(--pri-col);
    border-top: 2.5px solid var(--sec-col);
}