:root {
  --pri-col: #212529;
  --sec-col: #26a69a;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

blockquote {
  border-left: 5px solid var(--sec-col);
}

#name {
  max-width: 200px;
}

@media (max-width: 850px) {
  #displayQuote {
    width: 95% !important;
  }
}

#submitName {
  background-color: var(--pri-col);
  color: var(--sec-col);
}

#main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  gap: 5%;
}

#game {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#game a {
  margin: 5px;
  background-color: var(--pri-col);
  color: var(--sec-col);
}

#copyright {
  justify-content: center;
}

#footer {
  bottom: 0;
  background-color: var(--pri-col);
  border-top: 5px solid var(--sec-col);
}
